<html>
  <head>
    <title> Reporte Productos </title>
    <meta charset = "UTF-8">
    <link rel = "stylesheet" href = "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  </head>

  <body>
    <h1> Reporte Producto</h1>
    <form method = 'post' action = ''>
      {% csrf_token %}
      {{ formulario.as_table }}
      <input type = 'submit' value = 'Buscar'>
    </form>

    <table class = "table table-hover">
      <tr>
        <th> Producto </th>
        <th> Cantidad </th>
        <th> Fecha Recibida </th>
        <th> Proveedor </th>
      </tr>
      {% for item in productos %}
      <tr>
        <td> {{ item.0 }} </td>
        <td> {{ item.1 }} </td>
        <td> {{ item.2 }} </td>
        <td> {{ item.3 }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
