<html>
	<head>
		<title> Almacenes </title>
		<meta charset = "UTF-8">

		<link rel = "stylesheet" href = "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "https://dl.dropboxusercontent.com/s/nq12hgjs93bp6kl/estilos.css">
	</head>

	<body>
		{% include 'base/cabecera.html' %}

		<div class = 'container'>
			<div class = 'row'>
				{% include 'base/menu.html' %}
				
				<div class = 'col-sm-9 full' align = 'center'>
					<br>
					<div class = 'color-orange'>
						<br>
						<h1> Almacenes </h1>
						<br>
					</div>

					<br>

					 <div class = "table-responsive">
  						<table class = "table">
							<tr>
								<th class = 'color-orange'> Anaqueles </th>
								<th class = 'color-orange'> Direccion </th>
								<th class = 'color-orange'> Filas </th>
							</tr>
							{% for Almacen in almacenes %}
							<tr>
								<td> {{ Almacen.anaqueles_por_fila }} </td>
								<td> {{ Almacen.direccion }} </td>
								<td> {{ Almacen.filas }} </td>
							</tr>
							{% endfor %}
				    	</table>
					</div> 
					
				</div>
			</div>
		</div>
	</body>
</html>
