<html>
	<head>
		<title> Reporte de proveedores </title>
		<meta charset = "UTF-8">

		<link rel = "stylesheet" href = "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "https://dl.dropboxusercontent.com/s/nq12hgjs93bp6kl/estilos.css">
	</head>
	
	<body>
		{% include 'base/cabecera.html' %}

        <div class = 'container'>
            <div class = 'row'>
                {% include 'base/menu.html' %}
                
                <div class = 'col-sm-9 full' align = 'center'>
                    <br>
                    <div class = 'color-orange'>
                        <br>
                        <h1> Reporte proveedor </h1>
                        <br>
                    </div>

                    <br>

					<div class = "table-responsive">
                        <table class = "table">
							<tr>
					        	<th class = 'color-orange'> ID </th>-->
					        	<th class = 'color-orange'> Proveedor </th>
					        	<th class = 'color-orange'> Cantidad de Productos </th>-->
					    	</tr>
					    	{% for item in proveedores %}
					    	<tr> 
					        	<td> {{ item.0 }} </td>
					        	<td> {{ item.1 }} </td>
								<td> {{ item.2 }} </td>-->
					    	</tr>
					  
					    	{% endfor %}
						</table>
					</div>
                </div>
            </div>
        </div>
	</body>
</html>
