<html>
  <head>
    <title> Reporte de productos </title>
    <meta charset = "UTF-8">
  </head>

  <body>
    <h1> Reporte Producto </h1>
    <form method = 'post' action = ''>
      {% csrf_token %}
      {{ formulario.as_table }}

      <input type = 'submit' value = 'Buscar'>
    </form>
    <table>
      <thead>
        <tr>
          <th> Nombre </th>
          <th> Codigo </th>
          <th> Valor </th>
          <th> Fecha de Ingreso </th>
        </tr>
      </thead>
      <tbody>
        {% for Producto in productos %}
        <tr>
          <td> {{ Producto.nombre }} </td>
          <td> {{ Producto.codigo }} </td>
          <td> {{ Producto.valor }} </td>
          <td> {{ Producto.fecha_ingreso }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
