<html>
  <head>
    <title> Llega de Pedidos </title>
    <meta charset = "UTF-8">
  </head>

  <body>
    <ul>
      {% for choice in form.my_choice_field.field.choices %}
      <li>
        <input type="radio" name="my_choice_field" value="{{choice.0}}"
               {% ifequal form.my_choice_field.data choice.0 %}
               checked="checked"
               {% endifequal %}/>
        <label for="">{{choice.1}}</label>
      </li>
      {% endfor %}
    </ul>
    <h1> Pedidos </h1>
    <table>
      <tr>
        <th> ID </th>
        <th> Producto </th>
        <th> Fecha Realizada </th>
        <th> Fecha Prevista </th>
        <th> Fecha Recibida </th>
        <th> Cantidad </th>
        <th> Proveedor </th>
      </tr>
      {% for item in pedidos %}
      <tr>
        <td> {{ item.id }} </td>
        <td> {{ item.producto }} </td>
        <td> {{ item.fecha_realizada }} </td>
        <td> {{ item.fecha_prevista }} </td>
        <td> {{ item.fecha_recibida }} </td>
        <td> {{ item.cantidad }} </td>
        <td> {{ item.proveedor_id }} </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
