<html>
	<head>
		<title> Verificar productos </title>
		<meta charset = "UTF-8">
	</head>
	
	<body>
		<h1> Verificar Producto </h1>
		<form method = 'post' action = ''>
			{% csrf_token %}
			{{ formulario.as_table }}

			<input type = 'submit' value = 'Buscar'>
		</form>

		<table>
	    	<tr>
	    		<th> Producto </th>
	        	<th> Cantidad </th>
	        	
	    	</tr>
	    	{% for item in productos %}
	    	<tr> 
	        	<td> {{ item.0 }} </td>
	        	<td> {{ item.1 }} </td>
	        	{% if item.1 < 10%}
	        		<script> 
					alert("MENSAJE"); 
					</script> 
	        	{% endif %}
	        	
	    	</tr>
	    	{% endfor %}
		</table>
	</body>
</html>
